<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Treasure Hunt</title>
    <link rel="stylesheet" href="./css/intro.css">
  </head>
  <body>
    <%- include('navbar'); %>
    <div id="intro">
      <h2>Welcome to the Treasure-Hunt</h2>
      <p>Can you solve all the puzzles and escape?</p>
      <h1><u>Escape the Mansion</u></h1>
      <div class="hi">
      <p><u>Game Objective:</u> The player must escape a mysterious mansion by solving puzzles and clues in each room to progress to the next level. However, the mansion is filled with dead ends that could lead to the player's demise.</p></div>
      <button id="start-button">Start Game</button>
    </div>
    <script src="./js/intro.js"></script>
  </body>
</html>